@import url("https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap");
* {
  box-sizing: border-box;
}

body {
  font-family: "Patrick Hand", cursive;
}

#loading {
  justify-content: center;
  display: flex;
  align-items: center;
  height: 100vh;
  font-size: 2em;
}
